[package]
name = "tcp-profiler"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = "0.8.4"
tokio = { version = "1.45.0", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
passivetcp-rs = { version = "1.0.1"}
tower-http = { version = "0.6.2", features = ["fs", "cors"] }
clap = { version = "4.5.37", features = ["derive"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
